mkdocs==1.4.3
Jinja2==3.1.0
Markdown==3.3.7
Pygments==2.18.0
pymdown-extensions==10.4
mkdocs-material==9.1.20
mkdocs-video==1.5.0
mkdocs-mermaid2-plugin==0.6.0
mkdocs-macros-plugin==0.7.0
mkdocs-awesome-pages-plugin==2.8.0
mkdocs-autolinks-plugin==0.6.0
mkdocs-section-index==0.3.12
gitpython==3.1.46